interface=wlan0                   # Use interface wlan0
listen-address=127.0.0.1          # Explicitly specify the address to listen on
listen-address={{ ianseobox_ip_address | ipaddr('address') }}           # Explicitly specify the address to listen on
#bind-interfaces                   # Make sure we aren't sending things elsewhere
{% for ip_address in ianseobox_external_dns_ip_address %}
server={{ ip_address }}                   # Forward DNS requests to external public DNS
{% endfor %}
domain-needed                     # Don't forward short names
bogus-priv                        # Don't forward addresses in the non-routed spaces
domain={{ ianseobox_tld }}                      # Set private domain name to '{{ ianseobox_tld }}'
local=/{{ ianseobox_tld }}/                     # Don't forward queries for private domain '{{ ianseobox_tld }}'
address=/{{ ianseobox_tld }}/{{ ianseobox_ip_address | ipaddr('address') }}  # Resolve subdomains '*.{{ ianseobox_tld }}'
expand-hosts                      # Add private domain name to hostnames
dhcp-range=wifi,{{ ianseobox_dhcp_range_begin }},{{ ianseobox_dhcp_range_end }},{{ ianseobox_ip_address | ipaddr('netmask') }},4h # Assign IP addresses with 4h lease, subnet name 'wifi'
dhcp-option=wifi,6,{{ ianseobox_ip_address | ipaddr('address') }}       # Set DNS server for subnet wifi
txt-record={{ ianseobox_hostname }}.{{ ianseobox_tld }},"IanseoBox version {{ ianseobox_version }}, by Nicolas Martignoni"
log-facility=/var/log/dnsmasq.log # Enable log
