
This is IanseoBox version {{ ianseobox_version }}, {{ ianseobox_release_date }}.

IanseoBox is built by Dhuny Riyad, riyad@dhuny.org. It allows on the field 
deployment of Ianseo for use with Ianseo Scorekeeper Mobile App. 
Credits to Nicolas Martignoni for his original work on Moodlebox.
Credits to Ardingo Scarzella, Andrea Gabard, Christian Deligant,
 Matteo Pisani and Marco Carpignano for the IANSEO software.
 
The default domain is: {{ ianseobox_hostname }}.{{ ianseobox_tld }}
